.deliverypage{
  text-align: center;
  background: #0c0c0c46;
  color: #fff4f4;
  width: 500px;
  margin: auto;
  border-radius: 20px;
  padding: 30px 0px;
  margin-top: 5%;
  box-shadow: rgb(0 0 0) 0px 23px 47px 0px;
}

input{
  width: 60%;
  /* padding: 12px 20px;
  margin: 18px 15px; */
  box-sizing: border-box;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 4px;
  background-color: #00000024;
  color: #686868;
  font-size: 17px;
}
input{
  background-color: rgb(255, 255, 255);
  color:black;
  width: 75%;
}
.fShipping{
  display: flex;
  left: 10%;
  margin-right: 50%;
  padding: 1px 0px 25px;
}
.deliveryDate{
  display: flex;
  left: 10%;
  margin-right: 50%;
  padding: 1px 0px 25px;
}
.ffship{
  display: none;
  font-size: 100%;
  padding-bottom: 10%;
}

.gifting {
  display: block;
  font-size: 100%;
  padding-bottom: 10%;
}